<footer>
    <div class="social-links">
        <a href="https://github.com/roopeshchinnakampalli" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i> </a>
        <a href="https://x.com/roopesh_reddy" aria-label="Twitter" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-x-twitter"></i> </a>
        <a href="https://huggingface.co/roopeshc" aria-label="Hugging Face" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-brain"></i> </a>
    </div>
    <p>Made with ❤️ by <a href="https://github.com/roopeshchinnakampalli">roopesh</a></p>
</footer>